* {
  box-sizing: border-box;
}

.navigation {
  background-color: #fafafa;
  border-bottom: 1px solid #E7E9EC;
}

.row {
  display: flex;
  width: 90%;
  margin: auto;
}

.col-one-fourth {
  flex-basis: 25%;
}

.col-three-fourths {
  flex-basis: 75%;
  display: flex;
}

.text-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Hero */

.hero {
  margin: 9% 0 4% 0;
}

.hero-background {
  width: 100%;
  opacity: 1.0;
  height: 600px;
}

.hero-text {
  position: absolute;
  width: 55%;
  padding: 12% 5%;
  line-height: 2rem;
}

.overlay {
  background-color: rgba(80, 79, 79, 0.4);
  width: 90%;
  height: 600px; 
  position: absolute;
}

.hero-header {
  font-size: 34px;
  letter-spacing: 1.5px;
  line-height: 2.5rem;
}

/* clinicians */

.clinicians {
  background-color: #fafafa;
}

.clinicians-info {
  flex-basis: 100%;
  margin: 2% 25%;
  line-height: 1.8rem;
}

/* locations */

.locations {
  background-color: #fafafa;
  border-bottom: 1px solid #E7E9EC;
}

.col-one-half {
  flex-basis: 50%;
  margin: 7% 0 6% 3%;
}

/* ready */

.ready {
  background-color: white;
}

.content-start {
  text-align: start;
}

.content-end {
  text-align: end;
}

/* about-us */

.about-us {
  background-color: #525351;
  padding: 8% 0;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.col-one-fourth p {
  line-height: 25px;
}

.vertical-link {
  display: flex;
  flex-flow: column;
}

.vertical-link a {
  line-height: 35px;
}
.white-logo {
  margin: 25px 0;
  width: 60%;
}

/* footer  */

.footer {
  display: flex;
  background-color: #fafafa;

}

.last-col-one-fourth {
  flex-basis: calc(100% / 4);
  padding: 50px 0;
  display: flex;
}


/* Margins and PAddings! */
.white-text {
  color: white;
}

a {
  text-decoration: none;
}

/* fonts */

.heading-text {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.heading-italics {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: italic;
  font-weight: 300;
}

.regular-text {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* Everything else */ 
.button-start {
  background-color: #294464;
  border: none;
  padding: 18px 60px;
  margin-top: 5%;
  border-radius: 5px;
  font-size: 1.15rem;
}

.grey-text {
  color: rgb(131, 131, 131)
}

a:visited {
  text-decoration: none;
}

.button-contact {
  background-color: #294464;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.blue-logo {
  width: 60%;
  margin: 15px;
}

/* Product css */

.command {
    background-color: #fafafa;
}

.italics {
    font-style: italic;
}


.col-one-half:nth-child(2) {
    margin: 10% 0 10% 5%;
    line-height: 1.4rem;
}