* {
  box-sizing: border-box;
}

.navigation {
  background-color: #fafafa;
  border-bottom: 1px solid #E7E9EC;
}

.row {
  display: flex;
  width: 90%;
  margin: auto;
}

.col-one-fourth {
  flex-basis: 25%;
}

.col-three-fourths {
  flex-basis: 75%;
  display: flex;
}

@media screen and (max-width: 568px){
  .col-three-fourths {
    flex-direction: column;
  }
}

.text-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.button-contact {
  background-color: #294464;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.button-contact:hover {
  background-color: #122741;
}

.button-contact:active {
  transform: translateY(2px);
}
/* Hero */

.hero {
  margin: 8% 0 4% 0;
}

.hero-background {
  width: 100%;
  opacity: 1.0;
  height: 525px;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  width: 55%;
  padding: 8rem 4rem;
  line-height: 2rem;
}

.overlay {
  background-color: rgba(80, 79, 79, 0.4);
  width: 90%;
  height: 525px; 
  position: absolute;
}

.hero-header {
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: 2.5rem;
}

/* ready */

.ready {
  background-color: white;
  display: flex;
}

.content-start {
  text-align: start;
}

.content-end {
  text-align: end;
}

/* about-us */

.about-us {
  background-color: #525351;
  padding: 8% 0;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.about-us-one-half {
  margin-right: 40%;
  line-height: 1.8rem;
}

.col-one-fourth p {
  line-height: 25px;
}

.vertical-link {
  display: flex;
  flex-flow: column;
}

.vertical-link a {
  line-height: 35px;
}

.white-logo {
  margin: 25px 0;
  width: 70%;
  transform: scale(1);
  transition: transform 1s;
}

.white-logo:hover {
  transform: scale(1.5);
}

/* footer  */

.footer {
  display: flex;
  background-color: #fafafa;

}

.last-col-one-fourth {
  flex-basis: calc(100% / 4);
  padding: 50px 0;
  display: flex;
}


/* Margins and PAddings! */
.white-text {
  color: white;
}

a {
  text-decoration: none;
}

/* fonts */

.heading-text {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 2rem;
  line-height: 2rem;
}

.heading-italics {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: italic;
  font-weight: 300;
}

.regular-text {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* Everything else */ 
.button-start {
  background-color: #294464;
  border: none;
  padding: 18px 60px;
  margin-top: 5%;
  border-radius: 5px;
  font-size: 1.15rem;
}

.grey-text {
    color: rgb(92, 92, 92);
}

.col-three-fourths .grey-text:hover {
  color: blue;
}

a:visited {
  text-decoration: none;
}

.blue-logo {
  width: 60%;
  margin: 15px;
  transform: scale(1);
  transition: transform 1s;
}

.blue-logo:hover {
  transform: scale(1.3);
}

/* Product css */

.grey-background {
    background-color: #fafafa;
}

.italics {
    font-style: italic;
}

.col-one-half {
  margin: 2rem 0;
  flex-basis: 50%;
}


.col-text-right {
    margin-left: 10%;
    line-height: 1.4rem;
}
.col-text-left {
    margin-right: 10%;
    line-height: 1.4rem;
}

.col-img {
  width: 100%;
}

.button-start:hover {
  background-color: #122741;
}

.button-start:active {
  transform: translateY(2px);
}

.footer .grey-text:hover {
  color: blue;
}