* {
  box-sizing: border-box;
}

.navigation {
  background-color: #fafafa;
  border-bottom: 1px solid #E7E9EC;
  padding: 5px 0;
}

.blue-logo {
  width: 65%;
  margin: 15px;
}

.row {
  display: flex;
  width: 90%;
  margin: auto;
}

.col-one-fourth {
  flex-basis: 25%;
}

.col-three-fourths {
  flex-basis: 75%;
  margin: 0 0 0 25%;
  display: flex;
}

.text-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}


.white-text {
  color: white;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.heading-text {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  margin-bottom: 30px;
}

.heading-italics {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: italic;
  font-weight: 300;
}

.regular-text {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px
}

.grey-text {
  color: rgb(131, 131, 131)
}

.hero {
  margin: 5% 0;
}

.hero-background {
  width: 100%;
  height: 600px;
}

.hero-text {
  position: absolute;
  width: 55%;
  padding: 6%;
  line-height: 2rem;
}

.overlay {
  background-color: rgba(80, 79, 79, 0.4);
  width: 90%;
  height: 600px; 
  position: absolute;
}

.hero-header {
  font-size: 34px;
  letter-spacing: 1.5px;
  line-height: 2.5rem;
}

.button-start {
  background-color: #294464;
  border: none;
  padding: 18px 60px;
  margin-top: 5%;
  border-radius: 5px;
  font-size: 1.25rem;
}

.clinicians {
  background-color: #fafafa;
}

.clinicians-info {
  flex-basis: 100%;
  margin: 5% 25% 3% 25%;
  line-height: 1.8rem;
}

.locations {
  background-color: #fafafa;
  border-bottom: 1px solid #E7E9EC;
  padding: 0% 0 2% 0
}

.col-one-half {
  flex-basis: 50%;
  margin: 3% 0 5% 0;
  line-height: 1.5rem;
}

.ready {
  background-color: white;
}

.content-start {
  text-align: start;
}

.content-end {
  text-align: end;
}

.about-us {
  background-color: #525351;
  padding: 10% 0;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.about-us-one-half {
    flex-basis: 50%;
    line-height: 1.8rem;
}

.vertical-link {
  display: flex;
  flex-flow: column;
}

.vertical-link a {
  line-height: 10px;
}
.white-logo {
  margin: 25px 0;
  width: 25%;
}

.footer {
  display: flex;
  background-color: #fafafa;

}

.last-col-one-fourth {
  flex-basis: calc(100% / 4);
  padding: 50px 0;
  display: flex;
}

.button-contact {
  background-color: #294464;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}
