h1 {
    font-family: "Dancing Script", sans-serif;
    line-height: 2em;
}

h2 {
    font-family: Rajdhani, sans-serif;
    line-height: 1.5em;
    font-weight: 900;
}

p {
    font-family: Rajdhani, sans-serif;
    line-height: 1.5em;
}